<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Input Form</title>
    <link href="/css/come.css" rel="stylesheet">
</head>
<body>
<div class="box">
    <h2>Вход</h2>
    <form action="http://localhost:8080/come" method="post">
        <div class="inputbox">
            <input type="text" name="username" required=""/>
            <label>Погонялово</label>
        </div>
        <div class="inputbox">
            <input type="password" name="password" required=""/>
            <label>Пароль</label>
        </div>
        <div class="txt">
            <a href="http://localhost:8080/register">Зарегистрировать новое погонялово</a>
        </div>
        <input type="submit" name="" value="Войти"/>
    </form>
</div>
</body>
</html>

