<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Input Form</title>
    <script defer="defer" src="/js/reg.js"></script>
    <link href="/css/register.css" rel="stylesheet">
</head>
<body>
<div class="box">
    <h2 id="hat">Регистрация</h2>
    <div id="language" class="language" onclick="changeLanguage()">EN</div>
    <form id="reg_form">
        <div class="reg_str">
            <p id="reg_str"></p>
        </div>
        <div class="inputbox">
            <input type="text" autocomplete="off" id="reg_username" required=""/>
            <label id="nick">Погонялово</label>
        </div>
        <div class="inputbox">
            <input type="password" autocomplete="off" id="reg_password" required=""/>
            <label id="password">Пароль</label>
        </div>
        <div class="txt">
            <a id="back" href="http://localhost:8080/come">Вернуться ко входу</a>
        </div>
        <input type="submit" value="Отправить" id="send"
               onclick="reg(document.getElementById('reg_username').value,
               document.getElementById('reg_password').value)"/>
    </form>
</div>
</body>
</html>

