.body {
    background: linear-gradient(45deg,
    #3e3e3e,
    #c5dde8,
    #414141,
    #c5dde8,
    #414141);
    display: grid;
    grid-template-areas:
    "player hat hat"
    "field field chat"
    "tool tool chat_control";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 15% 1fr 18%;
    grid-gap: 4px;
    height: 97.3vh;
    margin: 3px;
    padding: 5px;
}

.player {
    background: linear-gradient(45deg, #757575, #303030);
    grid-area: player;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.hat {
    background: linear-gradient(45deg, #454545, #d4d4d4, #303030);
    grid-area: hat;
    display: grid;
    grid-template-areas: "score people quantity winner logo";
    grid-template-columns: 20% 8% 18% 24% 30%;
}

.score {
    grid-area: score;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.people {
    grid-area: people;
    background-image: url("./images/ico_people.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    filter: drop-shadow(5px 5px 5px #606060);
}

.quantity {
    grid-area: quantity;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}

.winner {
    grid-area: winner;
    background-image: url("./images/ico_winners.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    filter: drop-shadow(5px 5px 5px #606060);
}


.logo {
    margin: 5px;
    grid-area: logo;
    background-image: url("./images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(5px 5px 5px #000000);
}

.field {
    grid-area: field;
    display: grid;
    grid-template-areas: "target you";
    grid-template-columns: 30% 70%;
}

.target {
    grid-area: target;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.sonar_grid {
    stroke: #393939;
    stroke-width: 1px;
}

.you {
    grid-area: you;
    position: relative;
    overflow: hidden;
}

.forest {
    position: absolute;
    bottom: -160px;
    right: 0;
    height: 1000px;
    width: 5800px;
}

.city {
    position: absolute;
    bottom: 150px;
    right: 0;
    height: 500px;
    width: 5800px;
}

.buildings {
    opacity: 100%;
    pointer-events: none;
    position: absolute;
    height: 500px;
    width: 5800px;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.grass {
    position: absolute;
    background-color: #009966;
    height: 380px;
    width: 5800px;
    bottom: 0;
    right: 0;
}

.bushes {
    pointer-events: none;
    position: absolute;
    height: 400px;
    width: 5800px;
    bottom: 320px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.sky {
    position: absolute;
    top: 0;
    right: 0;
    height: 1200px;
    width: 1500px;
    background: linear-gradient(#5cbeea, #ffffff, #ffffff);
}

.marker_right_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/*
элементы pointer-events none не попадут в поле действия слушателя mouse events
*/
.legs {
    pointer-events: none;
    position: absolute;
    height: 146px;
    width: 109px;
    background-image: url("./images/legs.png");
    background-repeat: no-repeat;
}

.legs_folded_1 {
    pointer-events: none;
    position: absolute;
    height: 131px;
    width: 122px;
    background-image: url("./images/legs_folded_1.png");
    background-repeat: no-repeat;
}


.torso {
    pointer-events: none;
    position: absolute;
    display: block;
    height: 500px;
    width: 650px;
    transform-origin: 360px 330px;
}

.joe {
    pointer-events: none;
    position: absolute;
    width: 200px;
    height: 460px;
}

.joe_box_legs {
    position: absolute;
    width: 30px;
    height: 80px;
    left: 85px;
    bottom: 20px;
    /*background-color: burlywood;*/
}

.joe_box_body {
    position: absolute;
    width: 40px;
    height: 235px;
    right: 65px;
    bottom: 100px;
    /*background-color: #3c3c3c;*/
}

.joe_box_apple {
    position: absolute;
    width: 32px;
    height: 50px;
    right: 75px;
    bottom: 365px;
    /*background-color: burlywood;*/
}

.joe_box_head {
    position: absolute;
    width: 40px;
    height: 30px;
    right: 60px;
    bottom: 335px;
    /*background-color: #838383;*/
}

.apple {
    position: absolute;
    width: 280px;
    height: 80px;
    left: 70px;
    top: 15px;
    transform-origin: 30px 50px;
}

.star_score_container {
    position: absolute;
    width: 140px;
    height: 200px;
    top: -50px;
    left: 35px;
}

.star_score_text {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 130px;
    left: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #3739ba;
    text-align: center;
}
.flame{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.flame_image{
    width: 100%;
    height: 100%;
}

.demo{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.demo_image{
    width: 100%;
    height: 100%;
}

.arrows_little_container {
    position: absolute;
    display: block;
    height: 4px;
    width: 4px;
    background-color: white;
}

.silhouette {
    position: absolute;
    display: block;
    height: 120px;
    width: 50px;
}

.arrows_fly {
    /*border: solid #2d2d2d;*/
    pointer-events: none;
    position: absolute;
    display: block;
    height: 83px;
    width: 280px;
    transform-origin: 360px 140px;
}

.arrows_core {
    /*background-color: burlywood;*/
    height: 15px;
    width: 15px;
    top: 35px;
    position: absolute;
}

.arrow_stick {
    pointer-events: none;
    position: absolute;
    display: block;
    width: 82px;
    height: 278px;
}


.you_control {
    position: absolute;
    top: 0;
    right: 0;
    height: 170px;
    width: 190px;
    display: flex;
    flex-direction: row;
    padding: 15px;

}

.velocity {
    height: 170px;
    width: 30px;
    background-color: white;
    border-radius: 12px;
    border: 5px solid #000000;
    position: relative;
}

.velocity_bar {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 20px;
    margin: 5px;
    background-color: #9500ff;
}

.angle {
    filter: blur(3px);
    height: 170px;
    width: 150px;
    color: white;
    font-size: 80px;
    font-weight: bold;
}

.chat {
    background: linear-gradient(45deg, #343434, #6b6b6b, #353535);
    grid-area: chat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
}

.chat_item {
    width: 100%;
    word-wrap: break-word;
}

.chat_item_time {
    color: burlywood;
}

.chat_item_login {
    font-weight: bold;
    color: chartreuse;
}

.chat_item_msg {
    color: #5cbeea;
}

.chat_control {
    background: linear-gradient(45deg, #303030, #757575);
    grid-area: chat_control;
}

.tool {
    background: linear-gradient(45deg, #2d2d2d, #757575, #303030);
    grid-area: tool;
    display: grid;
    grid-template-areas:
            "love atomic_num atomic  grenade_num grenade  arrow_num arrow  non";
    grid-template-columns: 33% 3% 8%  3% 8%  3% 8%  12%;
}

.atomic {
    grid-area: atomic;
    background-image: url("./images/ico/ico_atomic.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px #343434);
}

.arrow {
    grid-area: arrow;
    background-image: url("./images/ico/ico_arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px #343434);
}

.grenade {
    grid-area: grenade;
    background-image: url("./images/ico/ico_grenade.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px #343434);
}

.non {
    margin-left: 20px;
    grid-area: non;
    background-image: url("./images/ico/ico_none.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px #343434);
}

.atomic_num {
    grid-area: atomic_num;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
}

.grenade_num {
    grid-area: grenade_num;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
}

.arrow_num {
    grid-area: arrow_num;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
}