.body {
    background: linear-gradient(45deg,
    #3e3e3e,
    #c5dde8,
    #414141,
    #c5dde8,
    #414141);
    display: grid;
    grid-template-areas:
    "player hat hat"
    "field field chat"
    "tool tool chat_control";
    grid-template-rows: 60px 1fr 50px;
    grid-template-columns: 15% 1fr 18%;
    grid-gap: 4px;
    height: 97.3vh;
    margin: 3px;
    padding: 5px;
}

.player {
    background: linear-gradient(45deg, #757575, #303030);
    grid-area: player;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.hat {
    background: linear-gradient(45deg, #454545, #d4d4d4, #303030);
    grid-area: hat;
    display: grid;
    grid-template-areas: "score people quantity winner logo";
    grid-template-columns: 30% 4% 12% 24% 30%;
}

.score {
    grid-area: score;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.people {
    grid-area: people;
    background-image: url("./images/ico_people.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    filter: drop-shadow(5px 5px 5px #606060);
}

.quantity {
    grid-area: quantity;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}

.winner {
    grid-area: winner;
    background-image: url("./images/ico_winners.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    filter: drop-shadow(5px 5px 5px #606060);
}


.logo {
    margin: 5px;
    grid-area: logo;
    background-image: url("./images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(5px 5px 5px #000000);
}

.field {
    grid-area: field;
    display: grid;
    grid-template-areas: "target you";
    grid-template-columns: 30% 70%;
}

.target {
    background-color: white;
}

.you {
    grid-area: you;
    position: relative;
    overflow: hidden;
}

.forest {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1000px;
    width: 3500px;
    background-image: url("./images/fon.png");
}

.sky {
    position: absolute;
    top: 0;
    right: 0;
    height: 1000px;
    width: 1100px;
    background-image: url("./images/sky.png");
}

.marker_right_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 120px;
    width: 120px;
    background-color: burlywood;
}

.marker_left_top {
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 120px;
    background-color: burlywood;
}

.chat {
    background: linear-gradient(45deg, #343434, #6b6b6b, #353535);
    grid-area: chat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: auto;
}

.chat_item {
    width: 100%;
    word-wrap: break-word;
}

.chat_item_time {
    color: burlywood;
}

.chat_item_login {
    font-weight: bold;
    color: chartreuse;
}

.chat_item_msg {
    color: #5cbeea;
}

.chat_control {
    background: linear-gradient(45deg, #303030, #757575);
    grid-area: chat_control;
}

.tool {
    background: linear-gradient(45deg, #2d2d2d, #757575, #303030);
    grid-area: tool;
}

