.body {
    display: grid;
    grid-template-areas:
    "player hat hat"
    "field field chat"
    "tool tool chat_control";
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 15% 1fr 18%;
    grid-gap: 3px;
    height: 98.3vh;
    margin: 3px;
}

.player {
    background: #676767;
    grid-area: player;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.hat {
    background: #707070;
    grid-area: hat;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.field {
    background: #ABABAB;
    grid-area: field;
}

.chat {
    background: #505050;
    grid-area: chat;
    color: #5cbeea;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat_item {
    width: 100%;
    word-wrap: break-word;
}

.chat_control {
    background: #7c7c7c;
    grid-area: chat_control;
}

.tool {
    background: #707070;
    grid-area: tool;
}

.tool, .chat_control, .chat, .field, .hat, .player {
    padding: 5px;
}